:root {
  font-family: Inter;
}

.title {
  font-size: 24px;
  font-weight: 500;
  color: var(--color-3);
  margin-top: 24px;
}

.SelectCardTitle {
  position: relative;
  z-index: 5;
  width: 190px;
}

.divDatePickerInput {
  position: absolute;
  top: -10px;
  border: none;
  width: 150px;
  left: 0;
}

.analyticsContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
  width: 100%;
}

.summary {
  display: flex;
  justify-content: space-between;
}


.divDatePickerInput {
  position: absolute;
  z-index: 53;
  right: 4%;
  margin-top: 10px;
}

.divDatePickerInput .datePickerInput {
  background-color: thistle;
  margin-top: 20px;
}

.card {
  background-color: var(--color-7);
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  /* flex: 1;  */
  padding: 14px;
}

.cardTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  font-weight: 600;
  font-size: 16px;
  color: var(--color-2);
}


.cardCount {
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 10px;
  font-size: 32px;
  font-weight: 700;
  color: var(--color-2);
  border-bottom: #e3e7ec 1px solid;
  padding-bottom: 5px;
  text-align: center;
}

.cardRevenue {
  font-size: 24px;
  font-weight: 700;
  color: var(--color-2);
  margin-top: 5px;
  text-align: center;
}

.charts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.chart {
  background-color: var(--color-7);
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.metrics {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.metrics .card {
  flex: 0 0 48%;
  padding: 15px;
}

.metrics h3 {
  margin-bottom: 10px;
}

.metrics small {
  color: #666;
  font-size: 0.8em;
}

.secondaryCardTitle {
  color: var(--color-4);
  font-size: 16px;
  font-weight: 600;
  margin-top: 32px;
}

.secondaryCardValue {
  color: var(--color-2);
  font-size: 24px;
  font-weight: 700;
  margin-top: 5px;
  margin-top: 24px;
  margin-bottom: 32px;
}

.chartFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chartTitle {
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--color-2);
  font-weight: 600;
}

.cardDropdown,
.dropdown {
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-border);
  font-size: 14px;
  color: var(--color-4);
  /* float: right; */
  /* appearance: none; */
  /* -webkit-appearance: none;
  -moz-appearance: none; */

  /* Consistent padding */
  padding: 6px 24px 6px 10px;

  /* Consistent background positioning */
  /* background: url("../assets/downArrow.svg") no-repeat right 0px center; */
  /* background-size: 22px; */
}

/* Specific styles for cardDropdown */
.cardDropdown {
  margin-top: 24px;
  margin-right: 8px;
  max-width: 95px;
}

/* Specific styles for regular dropdown */
.dropdown {
  padding: 5px 10px;
  width: 9%;
  /* margin-bottom: 20px; */
  /* max-width: 95px; */
}

@media (max-width: 991px) {
  .mainContainer {
    background-color: var(--color-5);
  }

  .title {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .analyticsContainer {
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
  }

  .charts {
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
  }

  .card {
    width: 100%;
    margin-left: 2px;
    margin-right: 2px;
  }

  .cardTitle,
  .cardCount,
  .cardRevenue,
  .secondaryCardTitle,
  .secondaryCardValue {
    font-size: 16px;
  }
}